__pycache__/
*.pyc
.venv/
.env
.DS_Store
spacex.db
Final_Presentation_Spacex.pptx
ds-capstone-template-coursera (1).pptx
.gemini/
ml-portfolio-ruben/
Proyectof/
notebook/
mean-variance-calculator/
boilerplate-sea-level-predictor/
boilerplate-page-view-time-series-visualizer/